<form action="">
  <div class="form-container">
    <div class="time-icon">
      <img src="assets/icons/icon-hour.png" alt="">
      Horário
    </div>

    <div class="periods-container">
      <h3>Qual período quer treinar?</h3>

      <div class="">
        <input type="radio" name="Manhã" />
        <span>06:00 às 12:00</span>
      </div>

      <div class="">
        <input type="radio" name="Tarde" />
        <span>12:01 às 18:00</span>
      </div>

      <div class="">
        <input type="radio" name="Noite" />
        <span>18:01 às 23:00</span>
      </div>
    </div>

  </div>
</form>
