<form action="">
  <div class="form-container">
    <div class="time-icon">
      <img src="assets/icons/icon-hour.png" alt="">
      Horário
    </div>

    <div class="periods-container">
      <h3>Qual período quer treinar?</h3>

      <div class="periods-radio">
        <input type="radio" name="hour" value="morning" />
        <label for="morning">Manhã</label>
        <span>06:00 às 12:00</span>
      </div>

      <div class="periods-radio">
        <input type="radio" name="hour" value="afternoon" />
        <label for="afternoon">Tarde</label>
        <span>12:01 às 18:00</span>
      </div>

      <div class="periods-radio">
        <input type="radio" name="hour" value="night" />
        <label for="night">Noite</label>
        <span>18:01 às 23:00</span>
      </div>
    </div>

  </div>
</form>
